*{
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background: #1a7fbd;
    padding: 10px;
  }
  
  #menu button {
    width: 159px;
    height: 43px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
  }
  
  #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  
  #menu li {
    font-size: 16px;
    font-weight: normal;
  }
  #menu li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  #menu img {
    display: block;
    margin: 0 auto;
    width: 55%;
  }

#nav-line {
    width: 90%;
    border: 0;
    height: 1px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255,255,255,0.1)0%, rgb(255,255,255),rgba(255,255,255,0.1));
}

#formulariobanner{
    display: flex;
    background: #1a7fbd;
    height: 1633px;
    
}

#banner{
    position: absolute;
    right: 200px;
    width: 100%;
}

#formulario{
    position: absolute;
    right: 100px;
    background-color: white;
    text-align: left;
    /*padding: 0 25px;*/
    width: 405px;
    height: 729px;
    border-radius: 12px;
}

#formulario h2{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #cecece;
  padding-left: 14px;
  padding-top: 7px;
}

#formulario p{
  padding-left: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #1A7FBD;
}

#formulario .input-forma{
  width: 356px;
  height: 40px;
  border: 1px solid #CECECE;
  border-radius: 6px;
  margin-bottom: 10px;
  padding-left: 35px;
}

#formulario .espacamentoform{
  padding: 0 25px;

}

#formulario #nome {
  background-image: url(../image/user.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15px;
  background-position-x: 10px;
}

#formulario #email {
  background-image: url(../image/mail.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15px;
  background-position-x: 10px;
}

#formulario #estado {
  background-image: url(../image/state.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15px;
  background-position-x: 10px;
}

#formulario #conhecimentopro{
  background-color: #1a7fbd;
  margin-top: 22px;
  color: white;
  padding: 25px;
}

#conhecimentolabel {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /*margin-bottom: 17px;*/
  /*padding-bottom: 17px;*/
}

#checkconhecimento{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

#simenao{
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  padding: 0 12px;
}

#linhaform{
  width: 356px;
}

#camposobri{
  font-weight: 600;
  font-size: 10px !important; 
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.2px;
}

#termos{
  color: #9A9A9A !important;
  text-align: center !important;
  font-size: 10px !important;
}

#formulariobanner button{
  width: 356px;
  height: 50px;
  background: #1a7fbd;
  border-radius: 6px;
  font-size: 18px;
  color: white;
  border: none;
}

#oprojeto{
  display: flex;
}

#imgjanelas{
  position: absolute;
  margin-top: 1000px;
  width: 45%;
  left: 180px;
}

#textoprojeto{
  
  position: absolute;
  margin-top: 1000px;
  left: 811px;
  right: 225px;

}

#textoprojeto h2{
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #A4DCFF;
  
}

#textoprojeto p{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  
}

#oproblema{
  height: 970px
  
}

#imgmulher{
  position: absolute;
  margin-left: 180px;
  margin-top: 19px;
  width: 40%;
}

#oproblema #tituloproblema{
  position: absolute;
  left: 807px;
  top: 1783px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  background: linear-gradient(87.58deg, #1A7FBD 1.01%, #6CBFF2 100.21%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;
}

#bloco1{
  position: absolute;
  width: 393px;
  height: 66px;
  left: 807px;
  top: 1867px;
}

#oproblema hr{
  position: absolute;
  width: 407px;
  height: 0px;
  left: 808px;
  top: 1945px;
}

#bloco2{
  position: absolute;
  width: 393px;
  height: 133px;
  left: 807px;
  top: 1972px;
}

#blocosproblema{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

#blocosproblema h2{
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

#blocosproblema p{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

#oportunidade{
  position: relative;
  box-sizing: border-box;
  border: 1px solid #E8E8E8;
  border-radius: 12px;
  background: #FBFBFB;
  margin-left: 223px;
  margin-top: 650px;
  padding: 18px;
  box-shadow: 0 0 1em black;
  margin-right: 10px;
  margin-bottom: 20px;

}

#comunidade{
  position: relative;
  box-sizing: border-box;
  border: 1px solid #E8E8E8;
  border-radius: 12px;
  background: #FBFBFB;
  margin-top: 650px;
  padding: 18px;
  box-shadow: 0 0 1em black;
  margin-right: 10px;
  margin-bottom: 20px;


}

#experienciareal {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #E8E8E8;
  border-radius: 12px;
  background: #FBFBFB;
  margin-top: 650px;
  margin-right: 224px;
  padding: 18px;
  box-shadow: 0 0 1em black;
  margin-bottom: 20px;

}

#suajornada{
  height: 638px;
}

#titulojornada{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#titulojornada h2{
  padding: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  background: linear-gradient(87.58deg, #1A7FBD 1.01%, #6CBFF2 100.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#espacamentosj{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  
}

.blocosuajornada{
  box-sizing: border-box;
  width: 320px;
  height: 77px;
  left: 224px;
  top: 2745px;
  background: #1A7FBD;
  border: none;
  border-radius: 12px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 0.5em black;
  
}

.blocosuajornada p{
  position: relative;
  font-size: 15px;
  color: #FFFFFF;
  margin-left: 86px;
  margin-right: 31px;
  margin-bottom: 21px;
  margin-top: -36px;
}

.blocosuajornada img{
  position: relative;
  width: 15%;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-right: 267px;
  margin-left: 22px;
  top: 15px;
  bottom: 20px;
}

#botaocadastrar{
  position: relative;
  background: #000000;
  border-radius: 12px;
  width: 459px;
  height: 70px;
  color: #FFFFFF;
  font-size: 18px;
  margin-left: 430px;
  margin-top: 114px;
}

#linhabotao{
  display: flex;
}

#linhasj{
  position: relative;
  margin-left: 550px;
  margin-top: 18px;
}